# .gitignore для интернет-магазина на Python

# База данных
shop.db

# Папка с байт-кодом Python
__pycache__/

# Логи
*.log

# Файлы виртуального окружения
venv/
.env

# Настройки IDE
.vscode/
.idea/
